html, body
{
	width:100%;
	height:100%;
	
	margin:0;
	padding:0;
}

.world
{
	position:relative;
	display:block;
	
	width:100%;
	height:100%;
	
	background-color:rgb(211, 255, 235);
}

.branch
{
	position:absolute;
	display:block;
	
	left:46%;
	bottom:0%;
	
	height:50%;
	width:8%;
	
	background-color:rgb(127, 80, 44);
}

.branch
	>.branch
{
	transform-origin:bottom center;
}

/* left branches */
.branch
	>.branch:nth-child(1),
.branch
	>.branch:nth-child(2)
{
	left:0%;
	transform:rotateZ(-45deg);
}
/* left branches */
/* right branches */
.branch
	>.branch:nth-child(3),
.branch
	>.branch:nth-child(4)
{
	right:0%;
	transform:rotateZ(45deg);
}
/* right branches */

/* lowest branches */
.branch
	>.branch:nth-child(1),
.branch
	>.branch:nth-child(4)
{
	bottom:50%;
	
	width:50%;
}
/* lowest branches */
/* highest branches */
.branch
	>.branch:nth-child(2),
.branch
	>.branch:nth-child(3)
{
	bottom:95%;
	
	width:40%;
}
/* highest branches */